# Always ignore these, even in tracked directories
.DS_Store
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.hypothesis
**/.venv
**/*.pyc

# Secrets
hooks/.env

#####

/.claude/worktrees

# ralph-orchestrator
PROMPT.md
**/.ralph/*
!**/.ralph/specs/
!**/.ralph/tasks/
!**/.ralph/agent/
**/.ralph/agent/*
!**/.ralph/agent/memories.md
!**/.ralph/agent/tasks.jsonl
